<div id="toolbar" class="box-shadow">
    <div class="title-section">
        <img src="assets/img/android-chrome-192x192.png" height="48" alt="logo">
        <span class="title-text text-shadow">Universal Style</span>
    </div>
    <nav class="nav-section">
        <ul id="sideMenu">
            <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Inicio</a></li>
            <li><a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Productos</a></li>
            <li><a href="#section-form">Reservar</a></li>
      
            <ng-icon
              class="close-icon"
              (click)="onCloseMenu()"
              name="matClose"
            ></ng-icon>
          </ul>
          <ng-icon class="menu-icon" (click)="onOpenMenu()" name="matMenu"></ng-icon>
    </nav>
    

</div>
